<div id="cookie-notice" style="display: none;">
    <div class="cookie-notice__headline">Cookies</div>
    <span>
        Um die Funktionalität dieser Website zu verbessern möchten wir Tools von Drittanbietern verwenden. Dafür benötigen wir deine Zustimmung.
        <!-- Erfahre mehr darüber in unserer Datenschutzbestimmung. -->
    </span>
    <div class="cookie-notice__buttons">
        <!-- <a href="/privacy" class="btn btn--tertiary">Mehr Infos</a> -->
        <a id="cookie-notice-accept" class="btn btn--primary">Zustimmen</a>
        <a id="cookie-notice-deny" class="btn btn--secondary">Ablehnen</a>
    </div>
</div>
<script>
    function createCookie(name, value, days) {
        let expires = "";
        if (days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }

    function loadGTM() {
        const script = document.createElement('script');
        script.async = true;
        script.src = 'https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.google-analytics }}';
        document.head.appendChild(script);

        script.onload = function() {
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '{{ site.data.settings.google-analytics }}');
        };
    }

    function showCookieNotice() {
        document.getElementById('cookie-notice').style.display = 'block';
    }

    if (readCookie('cookie-notice-option') == 'true') {
        // cookie already stored + accepted
        loadGTM();
    } else if (readCookie('cookie-notice-option') != 'false') {
        // cookie still undefined
        showCookieNotice();
    }

    document.getElementById('cookie-notice-accept').addEventListener("click", function() {
        // cookie accepted
        createCookie('cookie-notice-option', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        loadGTM();
    });

    document.getElementById('cookie-notice-deny').addEventListener("click", function() {
        // cookie declined
        createCookie('cookie-notice-option', 'false', 31);
        document.getElementById('cookie-notice').style.display = 'none';
    });

</script>