<section class="section section-tags">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head__small">
          <h3 class="section__title">Disclaimer</h3>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col col-12">
            Die Inhalte auf dieser Website dienen ausschließlich der Information und Bewerbung von Retreat-Angeboten Dritter.
            Die Plattform "Retreats in Österreich" tritt weder als Veranstalter noch als Vermittler von Reisen oder Pauschalangeboten auf. Insbesondere werden keine Reiseleistungen im Sinne des Pauschalreisegesetzes (PRG) angeboten oder vermittelt.
        </div>
    </div>
</div>