// variables for DRY code
$primary-color: black;
$secondary-color: white;

$padding-mobile: 32px 28px 20px 28px;
$padding-desktop: 52px 40px;
$margin-mobile: 40px;

$border-radius: 40px;
$font-size-desktop: 32px;
$font-size-mobile: $font-size-h2;
$font-size-button: 1.1rem;
$box-shadow: 0px 4px 10px rgba(63, 63, 68, 0.4);

#cookie-notice {
  padding: $padding-mobile;
  margin: 0 $margin-mobile;
  width: calc(100% - 2 * $margin-mobile);
  position: fixed;
  bottom: 0;
  height: fit-content;
  background: $secondary-color;
  border-radius: $border-radius $border-radius 0 0;
  color: $primary-color;
  z-index: 1000;
  box-shadow: $box-shadow;

  .cookie-content {
    background: $secondary-color;
    color: $primary-color;
    padding: 1rem;
    border-radius: 0;
    width: calc(100% - 2rem);
    margin: 0 auto;
  }

  a {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    bottom: 4px;
  }

  .btn {
    background-color: $secondary-color;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: $border-radius;
    padding: 8px 24px;
    font-size: $font-size-button;
    text-align: center;
    margin: 8px 0;

    &--primary {
      background-color: $primary-color;
      color: $secondary-color;
    }

    &--tertiary {
      border: none;
      text-decoration: underline;
    }
  }

  .cookie-notice {
    &__headline {
      font-size: $font-size-mobile;
      line-height: 1.4;
      font-weight: 800;
      margin-bottom: 8px;
    }

    &__buttons {
      margin: 24px 0 0 0;
      text-align: center;
    }
  }

  .btn--primary, .btn--secondary {
    width: calc(100% - 20px);
    max-width: 400px;
  }

  span {
    display: block;
    padding-top: 3px;
    margin-bottom: 1rem;
  }

  @media (min-width: $tablet) {
    padding: $padding-desktop;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    min-width: 400px;
    border-radius: $border-radius;

    & .cookie-notice {
      &__headline {
        font-size: $font-size-desktop;
        margin-bottom: 12px;
      }

      &__buttons {
        margin: 32px 0 0 0;
      }
    }

    .cookie-content {
      border-radius: 20px;
      width: auto;
    }

    a {
      position: static;
      margin-left: 0.5rem;
    }
  }

  // @media (min-width: 1020px) {
  //   top: 70%;
  // }
}