@use "../1-tools/grid";

/* Image */
.inline-image--float-left {
    margin: 0 20px 10px 0;
    width: 250px;
    float: left; 
  
    @media (max-width: grid.$mobile) {
        width: 180px;
    }
}

.inline-image--float-right {
    margin: 0 0 10px 20px;
    width: 250px;
    float: right; 
  
    @media (max-width: grid.$mobile) {
        width: 180px;
    }
  }